meta(property='og:url', content='https://fluttershub.com')
meta(property='og:type', content='website')
meta(property='og:title', content='Flutters Personal Website')
meta(property='og:description', content='We got 🍪 and ☕')
meta(property='og:image', content='http://storage.googleapis.com/api.fluttershub.com/images/public/profile_pic.jpg')
meta(property='og:image:secure_url', content='https://storage.googleapis.com/api.fluttershub.com/images/public/profile_pic.jpg')
